<div class="row flex-center min-vh-100 py-6 text-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5">
      <a class="d-flex flex-center mb-4" >
          <img class="me-2" src="assets/img/icons/spot-illustrations/falcon.png" alt="" width="58" />
          <span class="font-sans-serif fw-bolder fs-5 d-inline-block">{{ 'seless'| translate }}</span>
      </a>
      <div class="card">
        <div class="card-body p-4 p-sm-5">
          <div class="fw-black lh-1 text-300 fs-error">404</div>
          <p class="lead mt-4 text-800 font-sans-serif fw-semi-bold w-md-75 w-xl-100 mx-auto">{{ "404_alert" | translate}}</p>
          <hr/>
          <p>{{ '404_explane'| translate }} <a href="mailto:info@exmaple.com">{{ "contact_us" | translate }}</a>.</p><a class="btn btn-primary btn-sm mt-3" ><span class="fas fa-home me-2"></span>{{ "404_back_home" | translate}}</a>
        </div>
      </div>
    </div>
  </div>